.pageBody 
{
	width:1000px;
	margin:auto;
	padding:10px;
	height:750px;
	background:url('header.jpg') no-repeat top;
	padding-top:200px;
	
}
a
{
	text-decoration:none;
}
*
{
	font-family:Verdana;
	font-size:1em;
}
input.texto
{
	border:1px solid #ccc;
	font-size:12px;
	background-color:#fff;
	
}

h1
{
	border-bottom:1px solid #ddd;
	color:#1f4b05;
	font-size:1.8em;
	font-weight:bold;	
}


.menu
{
	float:left;
	width:240px;
	background-color:#baffbc;	
	padding:10px;
	margin-right:20px;
}

.menu h1
{
	color:#000;
	border:0px none transparent;
	font-size:1.2em;
}
.menu ul li
{
	font-size:0.75em;
}

.conteudo
{
	margin-left:280px;
	margin-top: 100px;
	width: 700px;
}
table.tabela
{
	border:1px solid #666;
	border-width: 1px 0px 0px 1px;
	margin-top:15px;
	margin-bottom:10px;
	
}
table.tabela tr
{
	height:18px;
}
table.tabela tr td
{
	border:1px solid #666;
	border-width: 0px 1px 1px 0px;
	font-size:0.7em;
}
table.tabela thead tr td
{
	background-color:#ccc;
	padding:3px;
	font-weight:bold;
}
.telaLogin
{
	background:url('header.jpg') no-repeat top;
	height:600px;
	padding-top:300px;
	text-align:center;
}
.navegacao
{
	padding-top:20px;
	display:block;
	font-size:12px;
}



.autocomplete
{
	
	background-color:#fff;
	border:1px solid #ccc;	
	width:300px!important;
}
.btnPreview
{
	background:url('icoEditar.gif') no-repeat top;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-top:3px;
}
.btnExcluir
{
	background:url('icoExcluir.gif') no-repeat top;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-top:3px;
}